
.error-contents{
  height: 100vh;
  position: relative;
  overflow: scroll;
  padding-top: 3vh;
}

.error-lists{
  width: 80vw;
  height: auto;
  background-color: #ffffff;
  padding: 30px 50px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.error-user-name-link{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color:#35465c;
}

.card-img{
  position: absolute;
  top: 20px;
  left: 15px;
  width: 30px;
  height: 30px;
}

.error-list{
  text-align: center;
}

p{
  word-wrap: break-word;
}

.error-error{
  color: #35465c;
  font-size: 18px;
}

.go-show-path{
  text-decoration: none;
  color: #35465c;
}
.and-go-show-path{
  text-decoration: none;
  color: #aa0000;
}

.three-dots{
  font-size: 16px;
  color: #35465c;
}
.three-dots:hover{
  color: #000000;
}

/*イエスタデイワンスモア*/
.more {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  height: auto;
  width: auto;
  text-align: right;
}

.more:hover ul.more_list {
  display: block;
}

.more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: none;
  border-radius: 3px;
}

.more ul.more_list li {
  border-bottom: 1px solid #dddddd;
}

.more ul.more_list li:last-child {
  border-bottom: 0;
}

.more ul.more_list li a {
  display: block;
  padding: 5px;
}

.more ul.more_list li a:hover {
  background-color: #ce0f19;
  color: #ffffff;
}

.more-list-btn{
  text-decoration: none;
  color: #35465c;
}

/*いいねボタン*/
.iine__button{
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #ce0f19;
  padding: 10px;
  border: 1px outset #ce0f19;
}

.iine__button:hover{
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #00c300;
  padding: 10px;
  border: 1px outset #00c300;
}


.iine__button__after{
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #00c300;
  padding: 10px;
  border: 1px outset #00c300;
}

.iine__button__after:hover{
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #ce0f19;
  padding: 10px;
  border: 1px outset #ce0f19;
}