.manu{
}

.menu-lists{
  text-align: center;
  padding: 20px;
}

.menu-lists li{
  font-size: 13px;
  margin: 20px 0;
}

.menu-list{
  text-decoration: none;
  color: #ffffff;
}
.menu-list:hover{
  color: #8b0000;
}

.contribution-btn{
  text-align: center;
  font-size: 30px;
}

.contribution-btn-text{
  text-decoration: none;
  color: #ffffff;
}
.contribution-btn-text:hover{
  color: #8b0000;
}


