<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>ERRORS利用規約</p>
    <p class='second-fotter-text'>個人情報保護方針に関する表記</p>
  </div>
  <p>© ERRORS</p>
</footer>