<div class="about">
  <header class="about-buns">
  </header>

  <div class="main">
    <div  class="main-exp">
    <div class="about-logo-messages">
      <div class="about-second-logo-box">
        <%= image_tag("errorlogo2.jpg", class:"about-second-logo") %>
      </div>
      <div class="about-messages">
        <h1 class="about-important">「記録するだけで<strong>上手くいく</strong>に近づく唯一のことは失敗です」</h1>
        <p>「ERRORS」の目的は
            <h1 class="about-important"><strong>挑戦しやすい社会を作る</strong></h1>
        ただ、それだけです。
        </p>
        <div class="example">
        <p> 挑戦できないというのは、多くの要因が考えられますが<br>
            ほとんどの理由は「挑戦の裏には失敗がある」からでしょう。<br>
            挑戦する人は<br>
            笑われます。<br>
            後ろ指を刺されます。<br>
            失敗するとさらに見下されます。<br>
            しかし、「やばい」の概念が変わったように<br>
            失敗の概念が変われば<br>
            すべての人が挑戦できる社会になリます。<br>
        </div>
            挑戦には失敗がつきものです。<br>
            失敗は「記録」「伝達」「誠実な対処」をし、学習することで失敗ではなくなります。<br>
            どうも我々は恥じたり、隠したり、恐れたりと学習のチャンスを逃してしまっています。<br>
            ここでは「学習」は経験を通して行動の仕方を変えることと定義します。<br>
            このサービスによってこれらを習慣化することで<br>
            失敗に対する考え方が変わり、もっと挑戦する人が増えるでしょう。<br>
        </p>
        <p>さあ、<%= link_to '「ERRORS」', root_path, class:"lets-errors" %>を始めましょう！</p>
      </div>
    </div>
    </div>
  </div>
  
  <footer class="about-buns">
  </footer>
</div>
