.bias{
  width: calc(100vw - 150px);
  height: auto;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  margin: 0 auto;
}

.bias-name{
  color: #35465c;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

.meaning{
  color: #35465c;
  font-size: 12px;
  padding-bottom: 20px;
}