.user-show{
  width: calc(100% - 150px);
  height: 100vh;
  overflow: scroll;
}

.user-wrapper{
  display: flex;
  justify-content: center;
  border: 1px solid #dddddd;
  color: #35465c;
  padding: 10px 0;
  position: relative;
}
.page-heading{
  display: block;
}
.table{
  font-size: 18px;
}

.card-img-show{
  width: 75px;
  height: 75px;
  position: absolute;
  top: 15px;
  left: 15px;
}


.user-path{
  width: 50vw;
  height: 30px;
  border: 1px solid #dddddd;
  margin: 20px auto;
  margin-bottom: -8px;
}

.path-fonts{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
  
}

.change-page-show-errors{
  font-size: 14px;
  font-weight: bold;
  text-decoration:none;
  color: #aa0000;
}

.change-page-show-likes{
  font-size: 12px;
  text-decoration:none;
  color: #35465c;
}
.change-page-show-likes:hover{
  font-size: 14px;
  font-weight: bold;
  text-decoration:none;
  color: #aa0000;
}

.change-page-like-errors{
  font-size: 12px;
  text-decoration:none;
  color: #35465c;
}

.change-page-like-errors:hover{
  font-size: 14px;
  font-weight: bold;
  text-decoration:none;
  color: #aa0000;
}

.change-page-like-likes{
  font-size: 14px;
  font-weight: bold;
  text-decoration:none;
  color: #aa0000;
}

.btn-btn-danger-btn-block{
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #35465c;
  border: 1px solid #dddddd;
}

.btn-btn-danger-btn-block:hover{
  background-color: #708090;
}

.btn-btn-primary-btn-block{
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #35465c;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.btn-btn-primary-btn-block:hover{
  background-color: #f5f5f5;
}

.following-followers{
  position: absolute;
  bottom: 15px;
  right: 30px;
  display: flex;
  font-size: 12px;
}

.following-btn{
  text-decoration: none;
  color: #35465c;
}

.following-btn:hover{
  text-decoration: underline;
}

.edit-user{
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #35465c;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  text-decoration: none;
}

.edit-user:hover{
  background-color: #f5f5f5;
}

.dm-img{
  position: absolute;
  bottom: 15px;
  left: 100px;
  width: 25px;
  height: 25px;
}

.dm-img:hover{
  width: 24px;
  height: 24px;
}